.table{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
    border-radius: 7px;
    background-color: #ffff;
    justify-content: space-between;
    width: 1157px;
    
    
}

.table-heading {
    display: flex;
    width:100%;
    justify-content: space-evenly;
    padding: 5px 0 5px 0 ;
    background: black;
    align-items: center;
    color: #ffff;
   
    
}

.table-heading div {
    
  text-align: left;
  margin-left: 30px;
   width: 192.83px;
  
}

.table-heading h5 {
   font-family: 'DM Sans'; 
  margin: 0; 
  }


.table-main ul {
    overflow: hidden;
    overflow-y: scroll;
    height:160px ;
    padding-left: 0;
}

