.table-data li{
     width: 101%; 
    list-style-type: none;
    display:flex;
    align-items: center;
    margin-left: 0px;  
    border-bottom: 1px solid rgb(242, 231, 231);
    
    
}

.table-data-item{
    width: 16.67%;
    text-align: left;
    margin-left: 25px;
}


.name{
    display: flex;
    align-items: center;
    padding-right: 0;
    gap:.1px
    
}


.name img{
    width: 34px;
    height: 34px;
    border-radius:50% ;
       
}
.name h5{
    margin-left: 15px;
    

}