.footer {
    background: radial-gradient(#5961ac, #0d20f1);
    margin-top: 60px;
    width: 242px;
    height: 118px;
    margin-left: 25px;
    border-radius: 15px;
}

.footer-content{
width:142px;
height:48px;
margin: 0 auto;
padding: 20px;


color: rgba(255, 255, 255, 1);


}  
.footer-content p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family:' DM Sans';
    line-height: 24px;
    letter-spacing: -0.02em;
    
} 