.query{
    display:flex;
    margin-left: 25px;
    border-radius: 7px;
    background-color: #ffff;
    justify-content: space-between;
    width: 93%;
    height:60px;
    align-items: center;
}



.query-filter {
    display: flex;
    gap:20px
}